ion-toolbar{
  --background:#1565C0;
  --color:white;
}

ion-content{
  --background:#F4F7FC;
}

ion-item{
  margin-top:10px;
  border-radius:12px;
}

ion-button{
  --background:#1565C0;
  --border-radius:12px;
  margin-top:20px;
}