<ion-header>

<ion-toolbar>

<ion-title>
Nuevo contacto
</ion-title>

</ion-toolbar>

</ion-header>


<ion-content>


<ion-item>

<ion-input
label="Nombre"
[(ngModel)]="nombre">
</ion-input>

</ion-item>



<ion-item>

<ion-input
label="Teléfono"
[(ngModel)]="telefono">
</ion-input>

</ion-item>



<ion-item>

<ion-input
label="Correo"
[(ngModel)]="correo">
</ion-input>

</ion-item>



<ion-button expand="block"
(click)="agregar()">

Guardar

</ion-button>

<ion-button expand="block" routerLink="/contacto">

Agregar contacto

</ion-button>


</ion-content>